In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%pylab inline
import sklearn as sk

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [34]:
FireArmTotal = pd.read_csv('FireArmTotalDeaths.csv')

In [35]:
FireArmHomicide=pd.read_csv('FireArmHomicide.csv')

In [36]:
FireArmSuicide=pd.read_csv('FireArmSuicides.csv')

In [37]:
FireArmTotalDeathsCombined = pd.merge(FireArmTotal,FireArmHomicide,on='RowId')

In [38]:
FireArmTotalDeathsCombined.head(1)

,RowId,Sex_x,Cause of Death_x,Year_x,AllFireArmDeath,Population_x,AllFireArmDeathRate,Age-Adjusted Rate_x,Sex_y,Cause of Death_y,Year_y,FireArmHomicide,Population_y,FirearmHomicideRate,Age-Adjusted Rate_y
0,Females2000,Females,Firearm,2000,4081,143713786,2.84,2.832594812,Females,Homicide Firearm,2000,1795,143713786,1.25,1.251097447

In [39]:
FireArmTotalDeathsCombined.rename(columns={'Sex_x':'Sex','Cause of Death_x':'Cause of Death','Year_x':'Year','Population_x':'Population','Age-Adjusted Rate_x':'Age-Adjusted Rate'},inplace=True)

In [40]:
FireArmTotalDeathsCombined.drop(['Sex_y','Cause of Death_y','Population_y','Year_y','Age-Adjusted Rate_y'],axis=1,inplace=True)

In [41]:
FireArmTotalDeathsCombined1=pd.merge(FireArmTotalDeathsCombined,FireArmSuicide,on='RowId')

In [46]:
FireArmTotalDeathsCombined1.head(1)

,RowId,Sex,Cause of Death,Year,AllFireArmDeath,Population,AllFireArmDeathRate,Age-Adjusted Rate,FireArmHomicide,FirearmHomicideRate,FireArmSuicide,FireArmSuicideRate
0,Females2000,Females,Firearm,2000,4081,143713786,2.84,2.832594812,1795,1.25,2132,1.48

In [43]:
FireArmTotalDeathsCombined1.rename(columns={'Sex_x':'Sex','Cause of Death_x':'Cause of Death','Year_x':'Year','Population_x':'Population','Age-Adjusted Rate_x':'Age-Adjusted Rate'},inplace=True)

In [45]:
FireArmTotalDeathsCombined1.drop(['Sex_y','Cause of Death_y','Population_y','Year_y','Age-Adjusted Rate_y'],axis=1,inplace=True)

In [221]:
FireArmTotalDeathsCombined1.to_csv('FireArmTotalDeaths - Combined.csv')